.meme-top-page-layout {
    display: flex;
    flex-direction: column;
}
h1 {
    margin-bottom: 0px;
}

.meme-page-header {
    justify-content: center;
    text-align: center;
    font-family: 'Londrina Sketch', cursive;
    color: slategray;
    font-size: 44px;
    font-weight: bold;
    padding-bottom: 50px;
}

form div {
    padding-left: 50px;
}
.form-text {
    font-family: 'Londrina Outline', cursive;
    font-weight: 400;
    font-size: 35px;
}
label input {
    margin-left: 50px;
    height: 30px;

}