body {
    margin: 0px;
}

#form-section {
    padding-right: 200px;
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color:#dedede73;
    border-top: thick solid #28006f75;
    border-bottom: thick solid #28006f75;
}
.meme-top-page-layout {
    display: flex;
    flex-direction: column;
}
h1 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.meme-page-header {
    background-color: #85d8ff6e;
    justify-content: center;
    text-align: center;
    font-family: 'Londrina Sketch', cursive;
    color: slategray;
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 30px;
    padding-top: 15px;
}

form div {
    padding-left: 50px;
}

form button {
    margin-left: 50px;
    font-family: 'Handlee', cursive;
    font-weight: 400;
    font-size: 25px;
    background-color: #9c27b0;
    border: 2mm ridge purple;
    color: #ffff;
    border-radius: 5%;
}

form button:active {
    box-shadow: inset 0px 0px 0px 2px purple;
}
.form-text {
    font-family: 'Londrina Outline', cursive;
    font-weight: 400;
    font-size: 38px;
    color: #28006f;
}
.label-align {
    display: flex;
}
.input-align {
    height: 30px;
    flex: 1;
}
#input1-margin {
    margin-left: 74px;
}
#input2-margin {
    margin-left: 108px;
}
#input3-margin {
    margin-left: 50px;
}


#newMemesSection {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-right: 200px;
    margin-left: 30px;
    padding-top: 15px;
}
.newmeme-layout {
    position: relative;
    display: flex;
    justify-content: center;
    width: 500px;
    margin: 20px;
}
.memeImg-sizing {
    top: 0;
    left: 0;
    max-width: 500px;
    min-width: 100%;
    min-height: 100%;
    flex-shrink: 0;
}

.meme-toptext-position {
    position: absolute;
    top: 5px;
    align-self: center;
    text-align: center;
    font-family: Impact;
    text-shadow:2px 2px 0 #000,
  -2px -2px 0 #000,
  2px -2px 0 #000,
  -2px 2px 0 #000,
  0px 2px 0 #000,
  2px 0px 0 #000,
  0px -2px 0 #000,
  -2px 0px 0 #000,
  2px 2px 5px #000;
    color: white;
    font-size: 50px;
    text-transform: uppercase;
}
.meme-bottomtext-position {
    position: absolute;
    bottom: 5px;
    align-self: center;
    text-align: center;
    font-family: Impact;
    text-shadow:2px 2px 0 #000,
  -2px -2px 0 #000,
  2px -2px 0 #000,
  -2px 2px 0 #000,
  0px 2px 0 #000,
  2px 0px 0 #000,
  0px -2px 0 #000,
  -2px 0px 0 #000,
  2px 2px 5px #000;
    color: white;
    font-size: 50px;
    text-transform: uppercase;
}

.newmeme-layout:hover:after {
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(29, 29, 29, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.7s;
}

.removeMeme-btn {
   display: none;
}
.newmeme-layout:hover .removeMeme-btn {
    display: inline-block;
    font-size: 60px;
    font-family: "Londrina Sketch", cursive;
    color: #ffff;
    border: 0;
    background-color: rgba(255, 0, 0, 0.536);
    position: absolute;
    align-self: center;
    cursor: pointer;
    z-index: 1;
}
.removeMeme-btn:active {
    box-shadow: inset 0px 0px 0px 5px red;
}