body {
    margin: 0px;
}

#form-section {
    margin-right: 200px;
    margin-bottom: 50px;
}
.meme-top-page-layout {
    display: flex;
    flex-direction: column;
}
h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 30px;
}

.meme-page-header {
    background-color: #85d8ff6e;
    justify-content: center;
    text-align: center;
    font-family: 'Londrina Sketch', cursive;
    color: slategray;
    font-size: 44px;
    font-weight: bold;
    padding-bottom: 50px;
}

form div {
    padding-left: 50px;
}

form button {
    margin-left: 50px;
}
.form-text {
    font-family: 'Londrina Outline', cursive;
    font-weight: 400;
    font-size: 35px;
    color: #28006f;
}
.label-align {
    display: flex;
}
.input-align {
    height: 30px;
    flex: 1;
    margin-left: 50px;
}

#newMemesSection {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-right: 200px;
    margin-left: 30px;
}
.newmeme-layout {
    position: relative;
    display: flex;
    justify-content: center;
    width: 500px;
    margin: 20px;
}
.memeImg-sizing {
    top: 0;
    left: 0;
    max-width: 500px;
    min-width: 100%;
    min-height: 100%;
    flex-shrink: 0;
}

.meme-toptext-position {
    position: absolute;
    top: 5px;
    align-self: center;
    text-align: center;
    font-family: Impact;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    color: white;
    font-size: 50px;
    text-transform: uppercase;
}
.meme-bottomtext-position {
    position: absolute;
    bottom: 5px;
    align-self: center;
    text-align: center;
    font-family: Impact;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    color: white;
    font-size: 50px;
    text-transform: uppercase;
}

.newmeme-layout:hover:after {
    content: attr(data-removeMeme);
    width: 100%;
    height: 100%;
    background: rgba(29, 29, 29, 0.6);
    position: absolute;
    color: red;
    font-size: 60px;
    text-align:center;
    font-family: "Londrina Sketch", cursive;
    top: 0;
    left: 0;
    transition: 0.7s;
}
